    @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
     body{
        background-color: #1F1F29;
        }
    .imagelinks{
        margin-top: 2.5%;
        text-align: center;
        }        
    .Header{ 
        margin-top: 12%;
        text-align: center;
        font-family: 'Chakra Petch', sans-serif;
        color: #878787;
        }
    .icons{
        width: 5%   
        }
 .nutbutton{
        width:10%
    }
        

@media only screen and (max-width: 600px) {
  body{
        background-color: #1F1F29;
        }
    .imagelinks{
        margin-top: 5%;
        text-align: center;
        }        
    .Header{ 
        margin-top: 10%;
        text-align: center;
        font-family: 'Chakra Petch', sans-serif;
        color: #878787;
        font-size: 250%
        }
    .icons{
        width: 20%   
        }
    .nutbutton{
        width:30%
    }
  }